body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: space-around;
}

.hidden-bodypart {
  display: none;
}

.letters-and-keys {
  margin-top: 50px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word {
  display: flex;
  justify-content: space-evenly;
}

.letter-field {
  border-bottom: 1px solid #000;
  width: 40px;
  font-size: 30px;
}

.letter {
  visibility: hidden;
}

.letter-guessed {
  visibility: initial;
}

.btn {
  height: 40px;
  width: 50px;
  font-size: 18px;
}

.btn-inactive {
  cursor: unset;
  background-color: #eee;
  border: none;
  color: #999;
}

.keyboard {
  width: 80%;
}

.game-result {
  margin-top: 60px;
  font-size: 30px;
}

.winner {
  color: forestgreen;
}

.looser {
  color: red;
}

.restart-btn {
  padding: 5px 10px;
  border-radius: 8px;
  border-color: #000;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  left: 100px;
  bottom: 10px;
  position: absolute;
}